body{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    margin-top: 150px;
}
h1{
    font-weight: bolder;
    font-size: 40px;
    padding: 0;
}

.btn button{
    background-color: rgb(5, 5, 195);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;
}
